<div class="assessors-sections">
  <app-standard-grid-section [header]="'Assessors and Partners'">

    <app-instructions [text]="[
        'Intry, Mintry, Cutry, Corn. Apple Seed and apple thorn. Wire, Briar, Limber Lock. Six geese in a flock.',
        '“You\'re gonna be Saul Bloom. You\'re gonna be in a wheelchair. You\'re gonna have metal legs. Octavio. Metal legs.”'
      ]"></app-instructions>
  
    <div class="stakeholders-sections">
        <app-standard-grid-section [header]="'Assessors'">
            <app-instructions [text]="[
                'Intry, Mintry, Cutry, Corn. Apple Seed and apple thorn. Wire, Briar, Limber Lock. Six geese in a flock.',
                '“You\'re gonna be Saul Bloom. You\'re gonna be in a wheelchair. You\'re gonna have metal legs. Octavio. Metal legs.”'
            ]"></app-instructions>
            <div>
                
            </div>
        </app-standard-grid-section>
    </div>        

    <div class="stakeholders-sections">
        <app-standard-grid-section [header]="'Partners'">
            <app-instructions [text]="[
                'Intry, Mintry, Cutry, Corn. Apple Seed and apple thorn. Wire, Briar, Limber Lock. Six geese in a flock.',
                '“You\'re gonna be Saul Bloom. You\'re gonna be in a wheelchair. You\'re gonna have metal legs. Octavio. Metal legs.”'
            ]"></app-instructions>
            <div>
                
            </div>
        </app-standard-grid-section>
    </div>

  </app-standard-grid-section>
</div>

<div class="assessors-sections">
  <app-standard-grid-section [header]="'Approvers and Watchers'">

    <app-instructions [text]="[
        'Intry, Mintry, Cutry, Corn. Apple Seed and apple thorn. Wire, Briar, Limber Lock. Six geese in a flock.',
        '“You\'re gonna be Saul Bloom. You\'re gonna be in a wheelchair. You\'re gonna have metal legs. Octavio. Metal legs.”'
      ]"></app-instructions>
  
    <div class="stakeholders-sections">
        <app-standard-grid-section [header]="'Approvers'">
            <app-instructions [text]="[
                'Intry, Mintry, Cutry, Corn. Apple Seed and apple thorn. Wire, Briar, Limber Lock. Six geese in a flock.',
                '“You\'re gonna be Saul Bloom. You\'re gonna be in a wheelchair. You\'re gonna have metal legs. Octavio. Metal legs.”'
            ]"></app-instructions>
            <div>
                
            </div>
        </app-standard-grid-section>
    </div>        

    <div class="stakeholders-sections">
        <app-standard-grid-section [header]="'Watchers'">
            <app-instructions [text]="[
                'Intry, Mintry, Cutry, Corn. Apple Seed and apple thorn. Wire, Briar, Limber Lock. Six geese in a flock.',
                '“You\'re gonna be Saul Bloom. You\'re gonna be in a wheelchair. You\'re gonna have metal legs. Octavio. Metal legs.”'
            ]"></app-instructions>
            <div>
                
            </div>
        </app-standard-grid-section>
    </div>

  </app-standard-grid-section>
</div>