.chip-list-form-field {
  width: 100%;
}

mat-chip-grid {
  min-height: 40px;
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  width: 100% !important;
}

mat-chip-row {
  margin: 0 4px 4px 0 !important;
  display: inline-block !important;
}

input[matChipInputFor] {
  width: 120px;
  min-width: 60px;
  display: inline-block !important;
  flex: 1 !important;
  max-width: none !important;
}
