<section aria-label="Instructions" 
  style="background: #e0f7ff; color: #222; padding: 1rem; border-radius: 6px; margin: 1rem 1rem 0.25rem 1rem;">
  <p>Intry, Mintry, Cutry, Corn. Apple Seed and apple thorn. Wire, Briar, Limber Lock. Six geese in a flock.</p>
  <p>“You're gonna be Saul Bloom. You're gonna be in a wheelchair. You're gonna have metal legs. Octavio. Metal legs.”</p>
</section>
<div class="assessment-overview" >
  <form class="overview-form" [formGroup]="form">
    <div class="overview-columns">
      <!-- Column 1 -->
      <div class="overview-col col1">
        <h4>Project Identity</h4>
        <app-overview-identity [form]="form"></app-overview-identity>
      </div>
      <!-- Column 2 -->
      <div class="overview-col col2">
        <h4>Project Dates</h4>
        <app-overview-dates [form]="form"></app-overview-dates>
      </div>
      <!-- Column 3 -->
      <div class="overview-col col3">
        <h4>Project Vitals</h4>
        <app-overview-vitals [form]="form" [dropdownOptions]="dropdownOptions"></app-overview-vitals>
      </div>
    </div>
  </form>
</div>
