<header class="app-header">
  <img src="assets/images/rock.png" alt="Rock" class="app-logo" />
  <h1>ARCU</h1>
  <app-floating-menu
    [items]="menuItems"
    [menuPosition]="'right'"
    [left]="'9rem'"
    [top]="'0.4rem'"
    [defaultOpen]="false"
    [hideToggle]="false"
    [horizontal]="true"
    class="header-menu">
  </app-floating-menu>
  <span class="page-title">{{ pageTitle }}</span>
  <app-searchbar (search)="onSearch($event)"></app-searchbar>
</header>

<main class="app-main">
  <router-outlet></router-outlet>
</main>