<div class="relationships-sections">
  <app-standard-grid-section [header]="'Impacted Channels'">
    <app-instructions [text]="[
        'Intry, Mintry, Cutry, Corn. Apple Seed and apple thorn. Wire, Briar, Limber Lock. Six geese in a flock.',
        '“You\'re gonna be Saul Bloom. You\'re gonna be in a wheelchair. You\'re gonna have metal legs. Octavio. Metal legs.”'
      ]"></app-instructions>
    <div>Impacted Channels details go here.</div>
  </app-standard-grid-section>

  <app-standard-grid-section [header]="'Process Alignments'">
    <app-instructions [text]="[
        'Intry, Mintry, Cutry, Corn. Apple Seed and apple thorn. Wire, Briar, Limber Lock. Six geese in a flock.',
        '“You\'re gonna be Saul Bloom. You\'re gonna be in a wheelchair. You\'re gonna have metal legs. Octavio. Metal legs.”'
      ]"></app-instructions>
    <div>Process Alignments details go here.</div>
  </app-standard-grid-section>
</div>

<div class="relationships-sections">
  <app-standard-grid-section [header]="'Partner Connections'">
    <app-instructions [text]="[
        'Instructions for Partner Connections.'
      ]"></app-instructions>
    <div>Partner connections details go here.</div>
  </app-standard-grid-section>

  <app-standard-grid-section [header]="'Vendor Integrations'">
    <app-instructions [text]="[
        'Instructions for Vendor Integrations.'
      ]"></app-instructions>
    <div>Vendor integrations details go here.</div>
  </app-standard-grid-section>
</div>

<div class="relationships-sections">
  <app-standard-grid-section [header]="'Reef Connections'">
    <app-instructions [text]="[
        'Instructions for Reef Connections.'
      ]"></app-instructions>
    <div>Reef connections details go here.</div>
  </app-standard-grid-section>

  <app-standard-grid-section [header]="'Related Assessments'">
    <app-instructions [text]="[
        'Instructions for Related Assessments.'
      ]"></app-instructions>
    <div>Related integrations details go here.</div>
  </app-standard-grid-section>
</div>
