<div
  #menuWrapper
  class="fly-menu-container"
  [ngStyle]="position()"
  cdkDrag
  (cdkDragStarted)="onDragStarted()"
  (cdkDragEnded)="onDragEnd($event)"
>
  <button mat-fab color="primary" class="menu-toggle" (click)="toggleMenu()">
    <mat-icon>more_vert</mat-icon>
  </button>
  <div
    class="menu-items"
    [ngClass]="[activeDirection(), open() ? 'menu-open' : '']"
    [style.visibility]="open() ? 'visible' : 'hidden'"
    [style.pointerEvents]="open() ? 'auto' : 'none'"
    [style.position]="'absolute'"
  >
    @for (item of items; track item) {
      <button
        mat-mini-fab
        [color]="item.color || 'primary'"
        class="menu-item"
        (click)="onMenuItemClick(item)"
        [attr.aria-label]="item.label"
        [matTooltip]="item.tooltip"
        [disabled]="item.disabled"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
      </button>
    }
  </div>
</div>
