<div class="floating-menu-container">
  <button
    class="menu-control-circle menu-toggle"
    aria-label="Menu control button"
    (click)="toggleMenu()"
  >
    <span [class.enlarge]="spinning()" [class.shrink]="!spinning()">
      <mat-icon
        [ngClass]="{ 'spin-up': spinning(), 'spin-down': !spinning() }"
      >camera</mat-icon>
    </span>
  </button>
  <div class="menu-items" [class.menu-open]="open()" [class.menu-closed]="!open()">
    @for (item of items; track item) {
      <button
        mat-mini-fab
        [color]="item.color || 'primary'"
        class="menu-item-circle"
        (click)="item.action?.()"
        [attr.aria-label]="item.label"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
      </button>
    }
  </div>
</div>