.work-bar {
  margin: 3px;
  padding: 1rem;
  background: #e3e9f6;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  min-height: 3rem;
  font-weight: 500;
}

.assessments-content {
  padding: 2rem;
}